/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'variables';
@import 'bootstrap';
@import "font-awesome";
@import "footer";

.by-a {
  bottom: 0;
  right: 0;
  background: #fff;
  border-top-left-radius: 3px;
  padding: .75rem;
  position: fixed;
  border-left: 1px solid #efefef;
  border-top: 1px solid #efefef;
  a {
    &:hover, &:active, &:focus {
      color: #dc3545;
      text-decoration: none;
    }
  }
}
